* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    color: #2d3c49;
}

img {
    max-width: 100%;
}

body {
    margin: 10px;
}

h1, h2 {
    font-weight: 700;
}

.subtitulos {
    color: #7d97ad;
}

hr {
    box-shadow: 0 0 0 6px #7d97ad inset;
    height: 3px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#logo {
    order: 1;
    width: 20%;
}
#logo > img {
    margin-top: 22px;
    max-width: 60px;
}

#titulo {
    order: 2;
    text-align: right;
    width: 80%;
}

#foto-principal {
    order: 3;
    text-align: center;
    width: 100%;
}


#sobre {
    order: 4;
}

#redes-sociais ul{
    display: flex;
    justify-content: center;
    padding: 0;
}

#redes-sociais ul li {
    list-style-type: none;
    padding-right: 40px;
    font-size: 60px;
}

li:last-child {
    padding-right: 0 !important;
}

#trabalhos-recentes {
    list-style-type: none;
    padding: 0;
}

#trabalhos-recentes > li {
    margin-top: 40px;
    text-align: center;
}

#trabalhos-recentes > li:first-child {
    margin-top: 0;
}

#projeto-um {
    order: 5;
}

#projeto-dois {
    order: 6;
}

#projeto-tres {
    order: 7;
}

h1, h3, h4 {
    text-transform: uppercase;
}

.links-projetos {
    font-size: 0.75em;
}

@media screen and (min-width: 768px) {
    article {
        max-width: 1024px;
        margin: 0 auto;
    }
    
    #foto-principal {
        width: 50%;
        text-align: unset;
    }

    #sobre {
        width: 50%;
        padding:7%;
        text-align: center;
    }

    #trabalhos-recentes > li {
        display: inline-block;
        width: calc(98%/3);
        margin-top: 0;
        vertical-align: top;
    }

}
